.splitpanes__splitter {
    width: 20px !important;
    background-color: #f1f3f5 !important;
    border-right: solid 1px #d1d5da !important;
}

.splitpanes--vertical .splitpanes__pane {
    transition: none !important;
}

.splitpanes--dragging .splitpanes__pane {
    transition: none !important;
}

.el-popover {
    padding: 0 10px !important;
}

.el-form-item__label {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.cannot-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}